Eplus-env-datacenter-mixed-continuous*/
results/
__pycache__/
*.out
*.pyc
*.txt
*.csv
*.pdf
*.json
*.png
*/__pycache__/
.ipynb_checkpoints
pydcm/test/
pydcm_examples/
an_arima_model.ipynb
Benchmark_pydcm.pdf
pydcm_plots.ipynb